@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 색상 변수 정의 */
:root {
    --mainColor: #222222;
    --secondaryColor: #f5a623;
    --primaryColor: #3a3a3a;
    --whiteColor: #ffffff;
    --lightGray: #e0e0e0;
    --darkGray: #757575;
    --errorRed: #f35071;
    --errorRedHover: #ad1735;
    --successGreen: #4caf50;
    --successGreenHover: #388e3c;
    --infoBlue: #2196f3;
}

/* 기본 글꼴 설정 */
body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--whiteColor);
  color: var(--mainColor);
}

/* 영어 텍스트 Noto Sans / lang="en" 로 적용 */
:lang(en) {
  font-family: 'Noto Sans', sans-serif;
}

/* 기존에 필요한 스타일만 유지 */
a {
    text-decoration: none;
    color: inherit;
}

/* 추가적인 스타일이 필요할 경우, 구체적으로 적용 */
